{% extends 'learning_logs/base.html' %}

{% load bootstrap4 %} 

{% block page_header %}
    <h4 class="display-4">
        <a style="color: rgba(0, 0, 0, 0.897);" href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
    </h4>
{% endblock page_header %}

{% block content %}
<form action="{% url 'learning_logs:add_entry' topic.id %}" method='post'class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button name="submit" class="btn btn-primary">Add</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'learning_logs:topic' topic.id %}">
</form>
{% endblock content %}
