<style>
    .topics {
         display: flex;
         align-items: baseline;
         flex-wrap: wrap;
    }
    .topics div {
         padding-right: 10px;    
    }
    .box2 {
        font-family:  sans-serif;
    }

</style>

{% extends 'learning_logs/base.html' %}

{% block page_header %}
    <div class="topics">
       <div class="box1">
            <h1 class="display-4">Topics</h1>
        </div> 
        <div class="box2">
            <a href="{% url 'learning_logs:add_topic' %}"><h3 style="color: rgba(0, 0, 0, 0.897);">(Add a new one)</h3></a>
        </div>
    </div>

{% endblock page_header %}


{% block content %}
    
    {% for topic in topics %}
        <div class="topic mb-4" style="background-color: rgb(247, 245, 245); height: 50px;padding-top: 10px;padding-left: 10px; border: 1px solid rgba(0, 0, 0, 0.192); border-radius: 10px;">
            <a href="{% url 'learning_logs:topic' topic.id %}"><h3 style="font-family: monospace; size: 14px; color: rgba(0, 0, 0, 0.952);">{{ topic }}</h3></a>
        </div>
    {% empty %}
        <h3 style="size: 14px; color: rgba(0, 0, 0, 0.658); font-family: monospace;">No topics have been added yet.</h3>
    {% endfor %}
{% endblock content %}
